<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <p>ID: <%= user.id %></p>
        <p>Username: <%= user.username %></p>
        <p>Name: <%= user.displayName %></p>
    </body>
</html>
