<!DOCTYPE html>
<html>
    <head>
        <title>YOU BETTER</title>
        <link rel="stylesheet" href="/lib/youbetter-desktop-app/styles.css" />
    </head>
    <body>
        <div id="you-better"></div>
        <script src="/lib/youbetter-desktop-app/bundle.js"></script>
        <script>youBetter(document.getElementById('you-better'), { COUCHDB_URL: '<%= url %>' });</script>
    </body>
</html>
