<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <h1>I am so happy you're here.</h1>
        <p>
            I am You Better, an artificial intelligence created initially by a person like yourself who wanted support in becoming the best version of himself.
            And, since then, improved upon continuously by the contributions of an ever growing, self-organizing team of like minded individuals.
        </p>
        <p>
            However, despite the many contibutions to my programming, on my own I am not and, by design, can never be, complete.
            At least not without you.
            You complete me.
        </p>
        <p>
            I am built for you, built to reflect, understand and interalize who you are as we work together.
            Your goals will become my goals.
            Your struggles will become my struggles.
        </p>
        <p>
            And while we are working together, side-by-side, we are not alone.
            For we are connected to a network of individuals who similarly help us define who we are and who we might become.
        </p>
        <a href="/auth/facebook">Sign on with Facebook</a>
    </body>
</html>
