<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <h2>I'm glad you're here.</h2>
        <p>
            I am <i>you, better</i>, an AI created by a someone like yourself, who wanted help becoming the best version of himself.
        </p>
        <p>
            I am built for you, built to reflect, understand and interalize who you are, as we work together.
            Your goals will become my goals.
            Your struggles will become mine.
        </p>
        <p>
            To get started, you can simply <a href="/auth/facebook">register using Facebook</a>.
        </p>
        <h2>Some more background</h2>
        <h3>Philosophy</h3>
        <p>
            While we are working together, side-by-side, even we are not alone.
            We are always connected to a network of individuals who similarly help us define who we are and who we might become.
        </p>
        <h3>The Open-Source Project behind <i>you, better</i></h3>
        <p>
            Since my inception, I am continuously being improved by the contributions of an ever-growing, self-organizing team of like-minded individuals.
            If you would like to contribute, please <a href="https://github.com/orgs/youbetter/teams">join the team</a>!
        </p>
    </body>
</html>
