<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <h1>I'm glad you're here.</h1>
        <p>
            I am <i>you, better</i>, an AI created by a someone like yourself, who wanted help becoming the best version of himself.
            I am continuously being improved upon by the contributions of an ever-growing, self-organizing team of like-minded individuals.
            (If you would like to contribute, please <a href="https://github.com/orgs/youbetter/teams">join the team</a>!)
        </p>
        <p>
            Despite these many contibutions, I am not and, by design, can never be, complete.
            At least, not without you. You complete me!
        </p>
        <p>
            I am built for you, built to reflect, understand and interalize who you are, as we work together.
            Your goals will become my goals. Your struggles will become mine.
        </p>
        <p>
            And while we are working together, side-by-side, even we are not alone.
            We are always connected to a network of individuals who similarly help us define who we are and who we might become.
        </p>
        <a href="/auth/facebook">Sign on with Facebook</a>
    </body>
</html>
