<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <p>
            I am <i>you, better</i>, an AI created by someone like you, who wanted help becoming the best version of himself.
        </p>
        <p>
            I am built for you, built to reflect, understand and interalize who you are, as we work together.
            Your goals will become my goals.
            Your struggles will become mine.
        </p>
        <p>
            To get started, you can simply <a href="/auth/facebook">register using Facebook</a>.
        </p>
    </body>
</html>
